// Gjenerimi random i ngjyrave brenda nje nr te caktuar cikli
// $repeat: 10000; 
//  .mat-grid-tile{
//  @for $i from 1 through $repeat{
//       &:nth-child(#{$i}) {
//             background-color: lighten(rgb(random(255),random(255),random(255)), 25%);            
//       }
//     }
//   }

#main.darkTheme {
  background-color: var(--darkTheme);

  .bar {
    background-color: var(--darkTheme);
    color: var(--productSecondary);
  }

  ::ng-deep .mat-grid-tile-content {
    background-color: var(--darkTheme);
  }


  .menu-bar {
    background-color: var(--productSecondary);
  }

  .list-cell {
    color: var(--productSecondary);

    &::after {
      color: transparent;
      -webkit-text-stroke: 1px var(--firstLetterSecondary);
    }
  }

  .businessName {
    color: var(--productSecondary);
  }

}

.round-circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-flex;
  margin-right: 5px;
  background-color: var(--red);
}

#main {
  .bar {
    background-color: white;
    width: auto;
    height: auto;

    .mode {
      text-align: end;
      margin-top: 10px;
      cursor: pointer;
    }
  }

  .businessName {
    width: 106px;
    height: 28px;
    left: 89px;
    top: 29px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    text-transform: capitalize;
    color: #333333;
  }

  .menu-bar {
    width: 50px;
    background: var(--menuSecondary);
    overflow-x: auto !important;
    overflow-y: hidden !important;
    background: #F7F7F7;
  }

  #main .menu-bar {
    width: auto;
    height: 55px;
    margin-left: 0px;
    margin-top: 102px;
    background: #F7F7F7;
  }

  .mat-toolbar-row,
  .mat-toolbar-single-row {
    width: auto;
    overflow-x: auto;
  }


  .item {
    margin-left: 10px;
    cursor: pointer;
    width: auto;
    height: 23px;
    margin-top: 118px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    align-items: flex-end;
    text-transform: uppercase;
  }

  .mat-grid-tile {
    width: 195px;
    height: 195px;
  }

  .list-cell {
    width: 80%;
    margin-left: 5px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: #333333;

    &::after {
      content: attr(data-items-name);
      width: 35%;
      height: 195px;
      font-family: 'Londrina Outline';
      font-style: normal;
      font-weight: 400;
      font-size: 104px;
      line-height: 148px;
      margin-left: 10%;
      top: 10% !important;
      color: transparent;
      -webkit-text-stroke: 2px rgba(169, 59, 59, 0.15);
      transform: rotate(17.11deg);

    }
  }

  .priceList {
    transform: rotate(-90deg);
    width: 30%;
    height: 0px;
    top: 5%;
    font-family: 'Helvetica';
    font-style: normal;
    align-items: flex-end;

    .price {
      font-weight: 700;
      font-size: 21px;
      line-height: 24px;
      text-align: center;
      color: #F44242;
    }

    .money {

      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #666666;
      text-transform: lowercase;
    }
  }
  ::ng-deep .mat-grid-tile-content :hover {
    background-color: var(--darkTheme);
    cursor: pointer;
    width: 100%;
    height: 195px;
  }

  .products {
    margin-bottom: 50px;
  }

}